<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>qhy15</string>
	<key>Builder Version</key>
	<string>9537.85.10.17.1</string>
	<key>CFBundleDisplayName</key>
	<string>DoubanInfo</string>
	<key>CFBundleIdentifier</key>
	<string>qhy15.safari.douban</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Context Menu Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>searchBook</string>
				<key>Identifier</key>
				<string>searchBook</string>
				<key>Title</key>
				<string>豆瓣搜图书</string>
			</dict>
			<dict>
				<key>Command</key>
				<string>searchMusic</string>
				<key>Identifier</key>
				<string>searchMusic</string>
				<key>Title</key>
				<string>豆瓣搜音乐</string>
			</dict>
			<dict>
				<key>Command</key>
				<string>searchMovie</string>
				<key>Identifier</key>
				<string>searchMovie</string>
				<key>Title</key>
				<string>豆瓣搜电影</string>
			</dict>
		</array>
		<key>Global Page</key>
		<string>main.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>getselectedstring.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>右键豆瓣查询跳转</string>
	<key>DeveloperIdentifier</key>
	<string>4485HXT3N3</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>http://qhy15.com/DoubanInfo.html</string>
</dict>
</plist>
